<div id="calendly-modal" class="calendly-modal">
    <div class="calendly-modal-overlay" onclick="closeCalendlyModal()"></div>
    <div class="calendly-modal-content">
        <button class="calendly-modal-close" onclick="closeCalendlyModal()">&times;</button>
        <div class="calendly-inline-widget-container"></div>
    </div>
</div>
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
