<meta property="og:type" content="website">
<meta property="og:image" content="https://www.payam-dehkordy.com/assets/Logo/Payam-Dehkordy-LinkedIn-Thumbnail.jpg">
<meta property="og:image:secure_url" content="https://www.payam-dehkordy.com/assets/Logo/Payam-Dehkordy-LinkedIn-Thumbnail.jpg">
<meta property="og:image:type" content="image/jpeg">
<meta property="og:image:width" content="1200">
<meta property="og:image:height" content="627">
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:image" content="https://www.payam-dehkordy.com/assets/Logo/Payam-Dehkordy-LinkedIn-Thumbnail.jpg">
<meta name="author" content="Payam Dehkordy">
<meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
<meta property="og:site_name" content="Payam Dehkordy Portfolio">
<meta property="og:locale" content="en_US">
